<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Task Tracker</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body>
        {% csrf_token %}
        <div class="container">
            <br />
            <h2><strong>Task Tracker 📝❤️ Егоров С. И. </strong></h2> <!-- Сосед оставил смайлик "сердечка", оценивая корректность на "5"-->

            <br />

            <ul class="list-group">
                <li class="list-group-item mb-2">3.1. Перенес базу данных проекта Джанго</li> <!-- Что это означает? --> <!-- Это означает, что я перенес базу данных из одной среды в другую --> <!-- Оценка: 5-->
                <li class="list-group-item mb-2">3.2. Создал новое приложение Tasks на Джанго</li>
                <li class="list-group-item mb-2">3.3. Подключил приложение Tasks в Джанго проект</li>
                <li class="list-group-item mb-2">3.4. Перезагрузил</li>
                <li class="list-group-item mb-2">3.5. Добавил функцию представления в шаблоны</li>
                <li class="list-group-item mb-2">3.6. Добавил логику возвращения "index.html"</li>
                <li class="list-group-item mb-2">3.7. Создал папку шаблонов в тасках</li>
                <li class="list-group-item mb-2">3.8. Импортировал код страницы с гитхаба преподавателя</li>
                <li class="list-group-item mb-2">3.9. Записал фамилию И. О.</li>
                <li class="list-group-item mb-2">3.10. Оформил разделы сайта как задания Контрольной Работы</li>
                <li class="list-group-item mb-2">3.11. Создать ключ и вывести его в последний раздел приложения</li>
                <li class="list-group-item mb-2">3.12. Увидел изменения соседа в коде, прокомментировал и оценил корректность</li>
                <li class="list-group-item mb-2">3.13. Удалил код в строках 2-12 и восстановил его через историю</li>
                <li class="list-group-item mb-2">3.14. Увидел ответ соседа и оценил его на оценку "5"</li>
                 <li class="list-group-item mb-2">3.15. Создал bash файл "Egorov.sh" с выводом информации и запустил его</li>
                <li class="list-group-item mb-2">3.16. Создал публичный репозиторий "Фамилиия_Kr1" на GitHub, в который поместил код реплики</li>
                <li class="list-group-item mb-2">3.17. </li>
                <li class="list-group-item mb-2">3.18. </li>
                <li class="list-group-item mb-2">3.19. </li>
                <li class="list-group-item mb-2">3.20. </li>
                 <li class="list-group-item mb-2">3.21 Ключ: os.getenv('FIREBASE_API_KEYS')</li>
            </ul>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>